@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Inter;
    width: fit-content;
    background: #000;
}

.wrapper{

    height: 100vh;
    margin: 0 7rem;
}
.mainw{
    /* max-width: 85vw; */
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    align-items: center;
    justify-content: center;

}
.sec{
    margin-top: 30px;
}
.featuredpc {
    height: 40vw;
}
.featuredpc img{
    height: 40vw;
    width: auto;
}
.conten{
    z-index: 1;
}
.hero-section{
    margin: 10px 10px 10px 10px;
}
.hero-section{
    display: flex;
    flex-direction: column;
}
.bigtext{
    margin: 30px 0;
    font-size: 4.6rem;
    font-weight: 600;
    line-height: 102%;
    color: #fff;
}
.description{
    font-size: 1.3rem;
    color: #99A1AF;
    font-weight: 500;
}
.actions{
    margin: 50px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn{
    padding: 12.4px 17px;
    border: none;
    font-size: 1.0rem;
    font-family: Inter;
    font-weight: 500;
    color: #fff;
    background: #462be2;
    border-radius: 8px;
    outline: none;
}
.muted-btn{
    background: transparent;
    color: #b0b0b0;
}
.dtail{
    display: flex;
    flex-direction: column;
}
.sub{
    font-size: 18px;
    font-weight: 600;
    color: #3467ff;
    margin: 5px;
}
.maint{
    font-size: 3.7rem;
    color: #fff;
    font-weight: 600;
}
.factors{
    background: #192231;
    padding: 10px;
    margin: 40px 0;
    border-radius: 10px;
    color: #fff;
    display: flex;
    max-width: 90%;
}
.it{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.row1,.row2{
    max-width: 50%;
}
.ico{
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    background: #1F2937;
    display: flex;
    margin-right: auto;
}
.gree i{
    color: rgb(209, 255, 209);
}
.gree{
    background: rgba(144, 238, 144, 0.04);
}
.purp i{
    color: #c550ff;
}
.purp{
    background: #c550ff0c;
}
.gol{
    color: rgb(255, 232, 101,0.04);
}
.gol i{
    color: rgb(255, 232, 101);
}
.red i{
    color: rgb(255, 71, 46);
}
.red{
    background: rgb(255, 71, 46,0.04);
}
.desc{
    margin: 5px 0;
    font-family: Inter;
}
.dt{
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
}
.ds{
    font-size: 14px;
    color: rgb(154, 154, 154);
    margin: 10px 0;
    font-weight: 400;
}
.logocloud{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.cloud{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-evenly;
}
.sop{
    margin: 10px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}
.nv{
    height: 100px;
    width: auto;
}